html,
body {
    overflow-x: hidden;
}

section:not(#header) {
    display: none;
}

*,
p,
h1,
h2,
h3 {
    font-family: poppins, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins-Regular;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Prata;
    src: url("../fonts/Prata/Prata.ttf");
}

@font-face {
    font-family: BeauRivage;
    src: url("../fonts/BeauRivage/BeauRivage.ttf");
}
@font-face {
    font-family: Georgia;
    src: url("../fonts/Georgia/Georgia.ttf");
}
@font-face {
    font-family: Karla;
    src: url("../fonts/Karla/Karla.ttf");
}

.loader {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a0a0a;
}
.loader .one {
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    opacity: 0;
    animation: loading 1.3s 0.65s infinite;
    height: 20px;
    width: 20px;
}
.loader .two {
    position: absolute;
    border-radius: 50%;
    background: #dbf1fa;
    opacity: 0;
    animation: loading 1.3s infinite;
    height: 20px;
    width: 20px;
}

@keyframes loading {
    0% {
        opacity: 0;
        transform: scale(0.15);
        box-shadow: 0 0 2px rgba(black, 0.1);
    }
    50% {
        opacity: 1;
        transform: scale(2);
        box-shadow: 0 0 10px rgba(black, 0.1);
    }
    100% {
        opacity: 0;
        transform: scale(0.15);
        box-shadow: 0 0 2px rgba(black, 0.1);
    }
}

:root {
    --theme-color: #10204a;
    --border-color: #e3e3e3;
    --primary-color: #10204a;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f5f5;
    --text-dark: #444444;
    --text-light: #e3e3e3;
}

#header {
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: url(../images/bacground-ornament.png) no-repeat center center/cover var(--theme-color);
}

@keyframes shadow-cover-animation {
    0% {
        box-shadow: 0px 0.5px 10px #6f6f6f;
    }
    100% {
        box-shadow: 0px 0.5px 30px #6f6f6f;
    }
}

.box-header {
    position: relative;
    border: 3px solid var(--border-color);
    padding: 32px;
    background-color: var(--primary-color);
    border-radius: 10px;
    animation-name: shadow-cover-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

#btn-opening-cover {
    animation-name: shadow-cover-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.ornament-kiri-atas,
.ornament-kanan-atas,
.ornament-kiri-bawah,
.ornament-kanan-bawah {
    position: absolute;
    object-fit: contain;
}

.ornament-kiri-atas {
    top: -30px;
    left: -30px;
    transform: rotate(-90deg);
}

.ornament-kanan-atas {
    top: -30px;
    right: -30px;
    transform: rotate(0deg);
}

.ornament-kiri-bawah {
    bottom: -30px;
    left: -30px;
    transform: rotate(180deg);
}

.ornament-kanan-bawah {
    bottom: -30px;
    right: -30px;
    transform: rotate(90deg);
}

.header-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-pengantin {
    font-size: 42px;
    font-weight: 800;
    color: var(--text-light);
    font-family: "BeauRivage";
    letter-spacing: 3px;
}
.header-date,
.event-caption {
    font-size: 16px;
    font-family: "karla", sans-serif;
    color: var(--text-light);
    margin-top: 16px;
}

.header-info,
.header-bottom {
    margin-top: 42px;
}

.header-to {
    font-size: 16px;
    color: var(--text-light);
    margin-bottom: 8px;
    font-family: "Karla", sans-serif;
}

.guest {
    color: var(--text-light);
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 24px;
    text-transform: capitalize;
}

.header-details {
    font-size: 16px;
    color: var(--text-light);
    font-family: "Georgia", serif;
}

#opening {
    padding: 50px 0;
    background-color: var(--primary-bg-color);
}

.sub-heading,
.event-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 16px;
    font-family: "Prata", sans-serif;
    color: var(--text-dark);
}

.caption {
    font-size: 16px;
    color: var(--text-dark);
    font-family: "Georgia", serif;
    letter-spacing: 1.5px;
}

#person {
    padding: 50px 0;
    background-color: var(--secondary-bg-color);
}

.person {
    margin-bottom: 50px;
}

.person-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.person-image {
    outline-offset: 5px;
    outline: 3px solid var(--primary-color);
    border-radius: 10px;
}

.person-name {
    font-size: 32px;
    font-weight: 600;
    color: #444;
    font-family: "Prata", sans-serif;
    margin-bottom: 16px;
    letter-spacing: 1px;
    text-align: center;
}

.person-details {
    margin-bottom: 24px;
}

.person-details span {
    display: block;
    margin-bottom: 8px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.header-bottom .btn-style,
#event-date .btn-style {
    background: var(--border-color);
    color: var(--primary-color);
}

.header-bottom .btn-style:hover,
#event-date .btn-style:hover {
    background-color: transparent;
    color: var(--text-light);
    border: 1px solid var(--border-color);
}

.btn-style {
    color: white;
    padding: 8px 32px;
    transition: all 0.3s;
    border-radius: 10px;
    font-weight: 500;

    background: var(--primary-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.btn-style:hover {
    background-color: transparent;
    color: #444;
    border: 1px solid #444;
}

#event-date {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background: url(../images/bacground-ornament.png) no-repeat center center/cover var(--theme-color);
}

.title-section {
    font-size: 48px;
    font-family: "beauRivage", serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--text-dark);
    text-align: center;
}

#event-date .title-section {
    color: var(--text-light);
}

.event-container {
    text-align: center;
}

.event-title {
    color: var(--text-light);
    font-weight: 400;
    margin-top: 24px;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    border-radius: 15px;
    padding: 8px 16px;
    margin: 24px 0px;
}
.countdown div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
    font-size: 42px;
    font-weight: 500;
    color: var(--primary-color);
}

.countdown .label {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
}

#gallery {
    padding: 50px 0;
    background-color: var(--primary-bg-color);
}

.image-gallery {
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
}

#gift {
    padding: 50px 0;
    background-color: var(--secondary-bg-color);
}

.gift-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 12px 16px;
    margin: 24px 0px;
}

.gift-card .bank-name {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-light);
    margin-bottom: 8px;
}

.gift-card p {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-light);
    margin-bottom: 4px;
}

#rsvp {
    padding-bottom: 50px;
    background-color: var(--secondary-bg-color);
}

.rsvp-box .form-floating textarea {
    height: 150px;
}

.rsvp-box .form-floating input[type="text"],
.rsvp-box .form-floating textarea {
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    color: var(--text-dark);
    outline: none;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    background: none;
    width: 100%;
    background-color: transparent;
}

.rsvp-box textarea:focus {
    background-color: transparent;
}

.rsvp-box .form-group label.label-radio {
    display: flex;
    width: 100%;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}
.rsvp-box .form-group label.label-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.rsvp-box .form-group label.label-radio input[type="radio"]:checked + .info {
    background: var(--primary-color);
    color: var(--text-light);
}
.rsvp-box .form-group label.label-radio .info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    border-radius: 10px;
    background: none;
    border: 1px solid var(--primary-color);
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    color: var(--text-dark);
    justify-content: center;
}
.rsvp-box .form-group .validate-error-place {
    color: rgb(217, 0, 0);
    font-style: normal;
    font-size: 16px;
}

.rsvp-box .btn-submit {
    color: white;
    background-color: var(--primary-color);
    padding: 8px 24px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s;
}
.rsvp-box .btn-submit:hover {
    background: transparent;
    color: var(--text-dark);
    transition: all 0.3s;
    border: 1px solid var(--text-dark);
}

.rsvp-body .message-box {
    height: 400px;
    padding: 0px 1px 0px 0px;
    overflow-x: auto;
}
.rsvp-body .message-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
.rsvp-body .message-box::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}
.rsvp-body .message-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #949494;
}
.rsvp-body .message-box .attendance {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--theme-color);
    font-size: 14px;
}
.rsvp-body .message-box ul {
    padding: 0;
    margin: 0;
}
.rsvp-body .message-box ul li {
    list-style: none;
    border: 1px solid var(--primary-color);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 16px;
    color: var(--text-dark);
}
.rsvp-body .message-box ul li .user-name {
    font-size: 18px;
    padding-right: 80px;
    color: var(--primary-color);
    font-weight: 500;
}
.rsvp-body .message-box ul li .saying {
    color: var(--text-dark);
    font-size: 16px;
}
.rsvp-body .message-box ul li .general-info {
    border-top: 1px solid var(--primary-color);
    padding-top: 5px;
}
.rsvp-body .message-box ul li .general-info .date {
    font-size: 14px;
    display: flex;
    padding-top: 7px;
    color: var(--primary-color);
}
.rsvp-body .message-box ul li .general-info .date svg {
    margin-right: 7px;
}

#closing {
    padding: 50px 0;
    background-color: var(--primary-bg-color);
}

#footer {
    background-color: var(--primary-color);
    padding: 16px 0px 100px 0px;
    color: var(--text-light);
    font-weight: 500;
}

.navigation-inner {
    bottom: 24px;
    z-index: 9;
    width: 100%;
}
.navigation-inner .navigation-box nav {
    border-radius: 30px;
    box-shadow: 1px 1px 10px -3px #cccccc;
    padding: 8px 16px;
    background: var(--primary-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.205);
}
.navigation-inner .navigation-box nav .nav-pills .nav-link {
    margin: 0px 10px;
    border-radius: 0;
    padding: 8px;
    background: none;
}

.navigation-inner .navigation-box nav .nav-pills .nav-link .active {
    border-bottom: 2px solid var(--primary-color);
}

.navigation-inner .navigation-box nav .nav-pills .nav-link img {
    height: 30px;
}

.hide {
    display: none;
}

.abs-fix-audio-control button {
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
}
.abs-fix-audio-control button svg {
    width: 30px;
}
.abs-fix-audio-control button svg path {
    fill: #e8e8e8;
}
.abs-fix-audio-control button svg line {
    stroke: #e8e8e8;
}
.abs-fix-audio-control button svg polyline {
    stroke: #e8e8e8;
    fill: #e8e8e8;
}

@media (max-width: 992px) {
    .box-header {
        padding: 38px 30px;
    }

    .ornament-kiri-atas,
    .ornament-kanan-atas,
    .ornament-kiri-bawah,
    .ornament-kanan-bawah {
        width: 70px;
        height: 70px;
    }

    .ornament-kiri-atas,
    .ornament-kanan-atas {
        top: -22px;
    }

    .ornament-kiri-bawah,
    .ornament-kanan-bawah {
        bottom: -22px;
    }

    .ornament-kiri-atas,
    .ornament-kiri-bawah {
        left: -22px;
    }

    .ornament-kanan-atas,
    .ornament-kanan-bawah {
        right: -22px;
    }
}

@media (max-width: 576px) {
    .box-header {
        padding: 32px 24px;
    }

    .ornament-kiri-atas,
    .ornament-kanan-atas,
    .ornament-kiri-bawah,
    .ornament-kanan-bawah {
        width: 60px;
        height: 60px;
    }

    .ornament-kiri-atas,
    .ornament-kanan-atas {
        top: -18px;
    }

    .ornament-kiri-bawah,
    .ornament-kanan-bawah {
        bottom: -18px;
    }

    .ornament-kiri-atas,
    .ornament-kiri-bawah {
        left: -18px;
    }

    .ornament-kanan-atas,
    .ornament-kanan-bawah {
        right: -18px;
    }
}
