@font-face {
    font-family: Poppins-Regular;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/Inter.ttf");
}

@font-face {
    font-family: Allura;
    src: url("../fonts/Allura/Allura-Regular.ttf");
}

html,
body {
    overflow-x: hidden;
}

section:not(#header) {
    display: none;
}

*,
p,
h1,
h2,
h3 {
    font-family: poppins, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.loader {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a0a0a;
}
.loader .one {
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    opacity: 0;
    animation: loading 1.3s 0.65s infinite;
    height: 20px;
    width: 20px;
}
.loader .two {
    position: absolute;
    border-radius: 50%;
    background: #dbf1fa;
    opacity: 0;
    animation: loading 1.3s infinite;
    height: 20px;
    width: 20px;
}

@keyframes loading {
    0% {
        opacity: 0;
        transform: scale(0.15);
        box-shadow: 0 0 2px rgba(black, 0.1);
    }
    50% {
        opacity: 1;
        transform: scale(2);
        box-shadow: 0 0 10px rgba(black, 0.1);
    }
    100% {
        opacity: 0;
        transform: scale(0.15);
        box-shadow: 0 0 2px rgba(black, 0.1);
    }
}

#header {
    background-color: #f9fffd;
    position: relative;
    z-index: 2;
    border-radius: 0px 0px 50px 50px;
}

#btn-opening-cover {
    border: 2px solid #1a6f5e;
    border-radius: 25px;
    padding: 4px 0px;
}
#btn-opening-cover svg {
    color: #3baf98;
}
.ornament-matahari-kiri {
    top: 0;
    left: 0;
    width: 400px;
    position: absolute;
    transform: translateX(-50%) rotate(0deg);
    transform-origin: 50% 50%;
    animation: spinLeft 12s linear infinite;
    pointer-events: none;
    will-change: transform;
    z-index: -5;
}
.ornament-matahari-kanan {
    bottom: 0;
    right: 0;
    width: 400px;
    position: absolute;
    transform: translateX(50%) rotate(0deg);
    transform-origin: 50% 50%;
    animation: spinRight 12s linear infinite;
    pointer-events: none;
    will-change: transform;
    z-index: -5;
}
@keyframes spinLeft {
    from {
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

@keyframes spinRight {
    from {
        transform: translateX(50%) rotate(0deg);
    }
    to {
        transform: translateX(50%) rotate(-360deg);
    }
}

.ornament-header-kanan {
    top: 0;
    right: 0;
    width: 350px;
    transform: rotate(180deg);
    position: absolute;
    z-index: -4;
}
.ornament-header-kiri {
    bottom: 0;
    left: 0;
    width: 350px;
    position: absolute;
    z-index: -4;
    border-radius: 0px 0px 0px 50px;
}

.header-cover .header-sub-heading,
.opening-top .sub-heading,
.detail-event-top .sub-heading {
    font-size: 28px;
    font-weight: 500;
    color: #3baf98;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.header-cover h2 {
    font-size: 42px;
    font-weight: 600;
    color: #1a6f5e;
}
.header-cover h3 {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #1a6f5e;
    margin: 24px 0px 8px;
}
.person-name {
    font-family: "Inter", sans-serif;
    color: #1a6f5e;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
}
.header-info p,
.opening-container .caption,
.detail-event-container .caption,
.gift-container .caption,
.closing-container .caption {
    color: #1a6f5e;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}
.guest,
.event {
    font-family: "Inter", sans-serif;
    color: #1a6f5e;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 24px;
}

#opening {
    position: relative;
    z-index: 1;
    background-color: #f9fffd;
    margin-top: -60px;
}

#opening .opening-container {
    margin-top: 200px;
    margin-bottom: 50px;
}

.ornament-lentera-satu {
    position: absolute;
    top: 0;
    left: 16px;
    z-index: -10;
    pointer-events: none;
    width: 60px;
}
.ornament-lentera-dua {
    position: absolute;
    top: -50px;
    left: 100px;
    z-index: -10;
    pointer-events: none;
    width: 60px;
}

.opening-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 42px 0;
    margin: 32px 0px;
}

.opening-body .person-image {
    position: relative;
    width: 250px;
    z-index: 3;
    pointer-events: none;
    border-radius: 100%;
    border: 2px solid #1a6f5e;
    outline: 2px solid #3baf98;
    outline-offset: 2px;
}

.opening-body .ornament-matahari-tengah {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(calc(-50% - 0px), 0);
    z-index: 1;
    pointer-events: none;
    transform-origin: 50% 50%;
    animation: spinLeft 12s linear infinite;
    pointer-events: none;
    will-change: transform;
    width: 330px;
}

#detail-event {
    background-color: #abddd3;
    position: relative;
    z-index: 2;
    border-radius: 0px 0px 50px 50px;
    background-image: url("../images/ornament-masjid.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center calc(100% + 10px);
}

.detail-event-container {
    margin: 50px 0px;
}

.ornament-kubah-atas-img {
    width: 100%;
    margin-bottom: -2px;
}

.ornament-kubah-bawah-img {
    width: 100%;
    margin-top: -2px;
    position: relative;
    z-index: 1;
}

#ornament-kubah {
    background-color: #f9fffd;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3baf98;
    border-radius: 15px;
    padding: 8px 16px;
    margin: 24px 0px;
}
.countdown div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
    font-size: 42px;
    font-weight: 500;
    color: #fff5e9;
}

.countdown .label {
    font-size: 16px;
    font-weight: 500;
    color: #fff5e9;
}

.btn-map {
    background-color: #3baf98;
    color: #ffffff;
    padding: 8px 24px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-top: 16px;
}

#gift {
    position: relative;
    z-index: 1;
    background-color: #f9fffd;
    margin-top: -60px;
}

#gift .gift-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.gift-top h2,
.rsvp-top h2 {
    font-family: "Inter", sans-serif;
    color: #1a6f5e;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 24px;
}

.gift-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3baf98;
    border-radius: 15px;
    padding: 12px 16px;
    margin: 24px 0px;
}
.countdown div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gift-card .bank-name {
    font-size: 20px;
    font-weight: 600;
    color: #f9fffd;
    margin-bottom: 8px;
}

.gift-card p {
    font-size: 16px;
    font-weight: 500;
    color: #f9fffd;
    margin-bottom: 4px;
}

#rsvp {
    background-color: #abddd3;
    position: relative;
    z-index: 2;
    border-radius: 50px 50px 0px 0px;
    margin-top: -60px;
}

.rsvp-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.rsvp-box .form-floating textarea {
    height: 150px;
}

.rsvp-box .form-floating input[type="text"],
.rsvp-box .form-floating textarea {
    border-radius: 10px;
    color: #1a6f5e;
    outline: none;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    background: none;
    width: 100%;
    background-color: #f9fffd;
}

.rsvp-box textarea:focus {
    background-color: #f9fffd;
}

.rsvp-box .form-group label.label-radio {
    display: flex;
    width: 100%;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}
.rsvp-box .form-group label.label-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.rsvp-box .form-group label.label-radio input[type="radio"]:checked + .info {
    background: #3baf98;
}
.rsvp-box .form-group label.label-radio .info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    border-radius: 10px;
    background: none;
    border: 1px solid #3baf98;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    justify-content: center;
}
.rsvp-box .form-group .validate-error-place {
    color: rgb(217, 0, 0);
    font-style: normal;
    font-size: 16px;
}

.rsvp-box .btn-submit {
    color: #fff5e9;
    background-color: #1a6f5e;
    padding: 8px 24px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s;
}
.rsvp-box .btn-submit:hover {
    background: transparent;
    color: #1a6f5e;
    transition: all 0.3s;
    border: 1px solid #1a6f5e;
}

.rsvp-body .message-box {
    height: 400px;
    padding: 0px 1px 0px 0px;
    overflow-x: auto;
}
.rsvp-body .message-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
.rsvp-body .message-box::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}
.rsvp-body .message-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #949494;
}
.rsvp-body .message-box .attendance {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--theme-color);
    font-size: 14px;
}
.rsvp-body .message-box ul {
    padding: 0;
    margin: 0;
}
.rsvp-body .message-box ul li {
    list-style: none;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 16px;
    background-color: #f9fffd;
}
.rsvp-body .message-box ul li .user-name {
    font-size: 18px;
    padding-right: 80px;
    color: #1a6f5e;
    font-weight: 500;
}
.rsvp-body .message-box ul li .saying {
    color: #1a6f5e;
    font-size: 16px;
}
.rsvp-body .message-box ul li .general-info {
    border-top: 1px solid #1a6f5e;
    padding-top: 5px;
}
.rsvp-body .message-box ul li .general-info .date {
    font-size: 14px;
    display: flex;
    padding-top: 7px;
    color: #3baf98;
}
.rsvp-body .message-box ul li .general-info .date svg {
    margin-right: 7px;
}

#closing {
    position: relative;
    z-index: 1;
    background-color: #f9fffd;
}

#closing .closing-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

#footer {
    background-color: #abddd3;
    padding: 16px 0px 100px 0px;
    color: #1a6f5e;
    font-weight: 500;
}

.navigation-inner {
    bottom: 24px;
    z-index: 9;
    width: 100%;
}
.navigation-inner .navigation-box nav {
    background: #1a6f5e;
    border-radius: 30px;
    box-shadow: 1px 1px 10px -3px #cccccc;
    padding: 8px 16px;
}
.navigation-inner .navigation-box nav .nav-pills .nav-link {
    margin: 0px 10px;
    border-radius: 0;
    padding: 8px;
    background: none;
    border-bottom: 2px solid #1a6f5e;
}

.navigation-inner .navigation-box nav .nav-pills .nav-link img {
    height: 30px;
}

.hide {
    display: none;
}

.abs-fix-audio-control button {
    width: 50px;
    height: 50px;
    border: none;
    background: #1a6f5e;
    box-shadow: 0 0.5px 5px #1a6f5e;
}
.abs-fix-audio-control button svg {
    width: 30px;
}
.abs-fix-audio-control button svg path {
    fill: #e8e8e8;
}
.abs-fix-audio-control button svg line {
    stroke: #e8e8e8;
}
.abs-fix-audio-control button svg polyline {
    stroke: #e8e8e8;
    fill: #e8e8e8;
}

/* responsive screen */
@media (max-width: 1024px) {
    .ornament-matahari-kiri,
    .ornament-header-kanan,
    .ornament-matahari-kanan,
    .ornament-header-kiri {
        width: 300px;
    }
    #opening .opening-container {
        margin-top: 150px;
    }
    .ornament-kubah-atas {
        position: absolute;
        top: -80px;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
        z-index: -1;
        pointer-events: none;
        width: 100%;
        height: 161px;
    }
}
@media (max-width: 768px) {
    .ornament-matahari-kiri,
    .ornament-header-kanan,
    .ornament-matahari-kanan,
    .ornament-header-kiri {
        width: 230px;
    }

    .header-cover .header-sub-heading,
    .opening-top .sub-heading,
    .detail-event-top .sub-heading {
        font-size: 22px;
        margin-bottom: 12px;
    }

    .header-cover h3 {
        font-size: 24px;
    }
    .person-name {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .header-cover h2,
    .guest,
    .detail-event-top .event,
    .gift-top h2,
    .rsvp-top h2 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .ornament-kubah-atas {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
        z-index: -1;
        pointer-events: none;
        width: 100%;
        height: 121px;
    }

    .ornament-pojok-kiri {
        position: absolute;
        top: -120px;
        left: -30px;
        transform: rotate(50deg);
        z-index: -1;
        pointer-events: none;
        width: 230px;
    }

    .ornament-pojok-kanan {
        position: absolute;
        bottom: -120px;
        right: -30px;
        transform: rotate(200deg);
        z-index: -1;
        pointer-events: none;
        width: 230px;
    }

    #rsvp .ornament-pojok-kiri-air {
        width: 230px;
        top: -100px;
        left: -100px;
    }
}

@media (max-width: 425px) {
    .ornament-matahari-kiri,
    .ornament-header-kanan,
    .ornament-matahari-kanan,
    .ornament-header-kiri {
        width: 200px;
    }

    .opening-body .person-image {
        width: 200px;
    }

    .opening-body .ornament-matahari-tengah {
        width: 280px;
    }

    .ornament-lentera-satu,
    .ornament-lentera-dua {
        width: 45px;
    }

    .header-cover .header-sub-heading,
    .header-cover h3 {
        font-size: 18px;
    }
    .ornament-kubah-atas {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
        z-index: -1;
        pointer-events: none;
        width: 100%;
        height: 67px;
    }

    .ornament-pojok-kiri {
        position: absolute;
        top: -90px;
        left: -20px;
        transform: rotate(50deg);
        z-index: -1;
        pointer-events: none;
        width: 160px;
    }

    .ornament-pojok-kanan {
        position: absolute;
        bottom: -90px;
        right: -20px;
        transform: rotate(200deg);
        z-index: -1;
        pointer-events: none;
        width: 160px;
    }

    #rsvp .ornament-pojok-kiri-air {
        width: 160px;
        top: -50px;
        left: -100px;
    }
}

@media (max-width: 375px) {
    .ornament-matahari-kiri,
    .ornament-header-kanan,
    .ornament-matahari-kanan,
    .ornament-header-kiri {
        width: 180px;
    }

    .ornament-kubah-atas {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
        z-index: -1;
        pointer-events: none;
        width: 100%;
        height: 60px;
    }
}
@media (max-width: 320px) {
    .ornament-kubah-atas {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
        z-index: -1;
        pointer-events: none;
        width: 100%;
        height: 50px;
    }
}
