html,
body {
    overflow-x: hidden;
}

*,
p,
h1,
h2,
h3 {
    font-family: poppins, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins-Regular;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Prata;
    src: url("../fonts/Prata/Prata.ttf");
}

@font-face {
    font-family: BeauRivage;
    src: url("../fonts/BeauRivage/BeauRivage.ttf");
}
@font-face {
    font-family: Georgia;
    src: url("../fonts/Georgia/Georgia.ttf");
}
@font-face {
    font-family: Karla;
    src: url("../fonts/Karla/Karla.ttf");
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

#caraousel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.caraousel-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.header-content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.header-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-subtitle {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 10px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-family: "Karla", sans-serif;
}
.header-pengantin {
    font-size: 42px;
    font-weight: 400;
    color: white;
    font-family: "Prata", sans-serif;
}
.header-date {
    font-size: 16px;
    font-family: "karla", sans-serif;
    color: white;
    margin-top: 16px;
}

.header-info {
    margin-top: 64px;
}

.header-to {
    font-size: 16px;
    color: white;
    margin-bottom: 8px;
    font-family: "Karla", sans-serif;
}

.guest {
    color: white;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 24px;
}

.header-details {
    font-size: 16px;
    color: white;
    font-family: "Georgia", serif;
}

#opening {
    padding: 50px 0;
    background-color: #fffdf6;
}

.sub-heading {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 16px;
    font-family: "Prata", sans-serif;
    color: #444;
}

.caption {
    font-size: 16px;
    color: #444;
    font-family: "Georgia", serif;
    letter-spacing: 1.5px;
}

.opening-top {
    margin-bottom: 50px;
}

.initial-groom,
.initial-bride {
    font-size: 64px;
    color: #444;
    font-family: "BeauRivage";
}

.initial-bride {
    margin-left: 50px;
    margin-top: -30px;
}

#pengantin {
    padding: 50px 0;
    background-color: #fbf9f3;
}

.pengantin-caption {
    font-size: 16px;
    color: #444;
    font-family: "Karla", sans-serif;
    text-align: left;
    margin-bottom: 8px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.pengantin-name {
    font-size: 32px;
    font-weight: 600;
    color: #444;
    font-family: "Prata", sans-serif;
    margin-bottom: 16px;
    letter-spacing: 1px;
}

.pengantin-details span {
    display: block;
    margin-bottom: 8px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.groom-image-container {
    position: relative;
    width: fit-content;
}

.groom-image-big,
.bride-image-big {
    width: 100%;
}

.groom-image-small {
    width: 160px;
    position: absolute;
    top: 45px;
    left: -130px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bride-image-small {
    width: 160px;
    position: absolute;
    bottom: 45px;
    right: -130px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.parallax-image {
    background-image: url("../images/horizontal-1.jpg");
}

.parallax-caption {
    z-index: 2;
}

.parallax-caption .title-section,
.parallax-caption .sub-title-section {
    color: white;
}

.title-section {
    font-size: 42px;
    font-weight: 700;
    font-family: "Karla", sans-serif;
    letter-spacing: 1.5px;
    color: #444;
}
.sub-title-section {
    font-size: 60px;
    font-family: "beauRivage", serif;
    margin-left: 50px;
    margin-top: -30px;
    color: #444;
}

@media (max-width: 768px) {
    .groom-image-small {
        width: 140px;
        left: -80px;
    }
    .bride-image-small {
        width: 140px;
        right: -80px;
    }
}
