@font-face {
    font-family: Poppins-Regular;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/Inter.ttf");
}

@font-face {
    font-family: Allura;
    src: url("../fonts/Allura/Allura-Regular.ttf");
}

html,
body {
    overflow-x: hidden;
}

section:not(#header) {
    display: none;
}

*,
p,
h1,
h2,
h3 {
    font-family: poppins, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.loader {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a0a0a;
}
.loader .one {
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    opacity: 0;
    animation: loading 1.3s 0.65s infinite;
    height: 20px;
    width: 20px;
}
.loader .two {
    position: absolute;
    border-radius: 50%;
    background: #dbf1fa;
    opacity: 0;
    animation: loading 1.3s infinite;
    height: 20px;
    width: 20px;
}

@keyframes loading {
    0% {
        opacity: 0;
        transform: scale(0.15);
        box-shadow: 0 0 2px rgba(black, 0.1);
    }
    50% {
        opacity: 1;
        transform: scale(2);
        box-shadow: 0 0 10px rgba(black, 0.1);
    }
    100% {
        opacity: 0;
        transform: scale(0.15);
        box-shadow: 0 0 2px rgba(black, 0.1);
    }
}

#header {
    background-color: #fff5e9;
    position: relative;
    z-index: 2;
    border-radius: 0px 0px 50px 50px;
}

#btn-opening-cover {
    border: 2px solid #493f78;
    border-radius: 25px;
    padding: 4px 0px;
}
#btn-opening-cover svg {
    color: #e89b93;
}
.ornament-air {
    top: -64px;
    left: -186px;
    width: 500px;
    position: absolute;
    filter: blur(2px);
    z-index: -1;
}
.ornament-bunga-pojok {
    top: -5px;
    right: -5px;
    width: 500px;
    position: absolute;
    z-index: -1;
}
.ornament-tengah {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 3;
    pointer-events: none;
}

.header-cover .header-sub-heading,
.opening-top .sub-heading,
.detail-event-top .sub-heading {
    font-size: 28px;
    font-weight: 500;
    color: #c39aab;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.header-cover h2 {
    font-size: 128px;
    font-family: "Allura", cursive;
    color: #493f78;
}
.header-cover h3 {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    color: #493f78;
    text-transform: uppercase;
    margin: -32px 0px 16px;
}
.person-name {
    font-family: "Inter", sans-serif;
    color: #493f78;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
}
.header-info p,
.opening-container .caption,
.detail-event-container .caption,
.gift-container .caption,
.closing-container .caption {
    color: #493f78;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}
.guest,
.event {
    font-family: "Inter", sans-serif;
    color: #493f78;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 24px;
}

#opening {
    position: relative;
    z-index: 1;
    background-color: #ceccd9;
    margin-top: -60px;
}

#opening .opening-container {
    margin-top: 200px;
    margin-bottom: 100px;
}

.opening-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 42px 0;
}

.opening-body .person-image {
    position: relative;
    width: 250px;
    z-index: 3;
    pointer-events: none;
    border-radius: 100%;
    border: 2px solid #493f78;
    outline: 2px solid #c39aab;
    outline-offset: 2px;
}

.opening-body .ornament-kiri {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(calc(-50% - 150px), 0) rotate(-8deg);
    z-index: 1;
    pointer-events: none;
    width: 300px;
}
.opening-body .ornament-kanan {
    position: absolute;
    bottom: -20px;
    right: 50%;
    transform: translate(calc(50% + 100px), -50%);
    z-index: 1;
    pointer-events: none;
    width: 180px;
}

#detail-event {
    background-color: #fff5e9;
    position: relative;
    z-index: 2;
    border-radius: 50px;
    margin-top: -60px;
}

.detail-event-container {
    margin: 50px 0px;
}

.ornament-pojok-kiri {
    position: absolute;
    top: -180px;
    left: -60px;
    transform: rotate(50deg);
    z-index: -1;
    pointer-events: none;
    width: 350px;
}

.ornament-pojok-kanan {
    position: absolute;
    bottom: -180px;
    right: -60px;
    transform: rotate(200deg);
    z-index: -1;
    pointer-events: none;
    width: 350px;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0c7c9;
    border-radius: 15px;
    padding: 8px 16px;
    margin: 24px 0px;
}
.countdown div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown .day,
.countdown .hour,
.countdown .minutes,
.countdown .seconds {
    font-size: 42px;
    font-weight: 500;
    color: #fff5e9;
}

.countdown .label {
    font-size: 16px;
    font-weight: 500;
    color: #fff5e9;
}

.btn-map {
    background-color: #c39aab;
    color: #ffffff;
    padding: 8px 24px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-top: 16px;
}

#gift {
    position: relative;
    z-index: 1;
    background-color: #ceccd9;
    margin-top: -60px;
}

#gift .gift-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.gift-top h2,
.rsvp-top h2 {
    font-family: "Inter", sans-serif;
    color: #493f78;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 24px;
}

.gift-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff5e9;
    border-radius: 15px;
    padding: 12px 16px;
    margin: 24px 0px;
}
.countdown div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gift-card .bank-name {
    font-size: 20px;
    font-weight: 600;
    color: #493f78;
    margin-bottom: 8px;
}

.gift-card p {
    font-size: 16px;
    font-weight: 500;
    color: #493f78;
    margin-bottom: 4px;
}

#rsvp {
    background-color: #fff5e9;
    position: relative;
    z-index: 2;
    border-radius: 50px;
    margin-top: -60px;
}

#rsvp .ornament-pojok-kiri-air {
    position: absolute;
    top: -150px;
    left: -130px;
    z-index: -1;
    pointer-events: none;
    width: 350px;
    filter: blur(2px);
}

.rsvp-container {
    margin-top: 50px;
    margin-bottom: 80px;
}

.rsvp-box .form-floating textarea {
    height: 150px;
}

.rsvp-box .form-floating input[type="text"],
.rsvp-box .form-floating textarea {
    border-radius: 10px;
    border: 1px solid #493f78;
    color: #493f78;
    outline: none;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    background: none;
    width: 100%;
    background-color: #fff5e9;
}

.rsvp-box textarea:focus {
    background-color: #fff5e9;
}

.rsvp-box .form-group label.label-radio {
    display: flex;
    width: 100%;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}
.rsvp-box .form-group label.label-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.rsvp-box .form-group label.label-radio input[type="radio"]:checked + .info {
    background: #e89b93;
}
.rsvp-box .form-group label.label-radio .info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    border-radius: 10px;
    background: none;
    border: 1px solid #493f78;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    justify-content: center;
}
.rsvp-box .form-group .validate-error-place {
    color: rgb(217, 0, 0);
    font-style: normal;
    font-size: 16px;
}

.rsvp-box .btn-submit {
    color: #fff5e9;
    background-color: #493f78;
    padding: 8px 24px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s;
}
.rsvp-box .btn-submit:hover {
    background: transparent;
    color: #493f78;
    transition: all 0.3s;
    border: 1px solid #493f78;
}

.rsvp-body .message-box {
    height: 400px;
    padding: 0px 1px 0px 0px;
    overflow-x: auto;
}
.rsvp-body .message-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
.rsvp-body .message-box::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}
.rsvp-body .message-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #949494;
}
.rsvp-body .message-box .attendance {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--theme-color);
    font-size: 14px;
}
.rsvp-body .message-box ul {
    padding: 0;
    margin: 0;
}
.rsvp-body .message-box ul li {
    list-style: none;
    border: 1px solid #493f78;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 16px;
    color: #493f78;
}
.rsvp-body .message-box ul li .user-name {
    font-size: 18px;
    padding-right: 80px;
    color: #493f78;
    font-weight: 500;
}
.rsvp-body .message-box ul li .saying {
    color: #493f78;
    font-size: 16px;
}
.rsvp-body .message-box ul li .general-info {
    border-top: 1px solid #493f78;
    padding-top: 5px;
}
.rsvp-body .message-box ul li .general-info .date {
    font-size: 14px;
    display: flex;
    padding-top: 7px;
    color: #e89b93;
}
.rsvp-body .message-box ul li .general-info .date svg {
    margin-right: 7px;
}

#closing {
    position: relative;
    z-index: 1;
    background-color: #ceccd9;
    margin-top: -60px;
}

#closing .closing-container {
    margin-top: 200px;
    margin-bottom: 50px;
}

#footer {
    background-color: #fff5e9;
    padding: 16px 0px;
    color: #493f78;
    font-weight: 500;
}

/* responsive screen */
@media (max-width: 1024px) {
    .ornament-air,
    .ornament-bunga-pojok,
    .ornament-tengah {
        width: 400px;
    }
    .header-cover h2 {
        font-size: 82px;
    }
    #opening .opening-container,
    #closing .closing-container {
        margin-top: 150px;
    }
}
@media (max-width: 768px) {
    .ornament-air {
        width: 280px;
        top: -40px;
        left: -130px;
    }
    .ornament-bunga-pojok {
        width: 230px;
    }
    .ornament-tengah {
        width: 280px;
    }

    .header-cover .header-sub-heading,
    .opening-top .sub-heading,
    .detail-event-top .sub-heading {
        font-size: 22px;
        margin-bottom: 12px;
    }

    .header-cover h2 {
        font-size: 70px;
    }

    .header-cover h3 {
        font-size: 24px;
        margin: -16px 0px 8px;
    }
    .person-name {
        font-size: 32px;
        margin-bottom: 30px;
    }
    .guest,
    .detail-event-top .event,
    .gift-top h2 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .ornament-pojok-kiri {
        position: absolute;
        top: -120px;
        left: -30px;
        transform: rotate(50deg);
        z-index: -1;
        pointer-events: none;
        width: 230px;
    }

    .ornament-pojok-kanan {
        position: absolute;
        bottom: -120px;
        right: -30px;
        transform: rotate(200deg);
        z-index: -1;
        pointer-events: none;
        width: 230px;
    }

    #rsvp .ornament-pojok-kiri-air {
        width: 230px;
        top: -100px;
        left: -100px;
    }
}

@media (max-width: 425px) {
    .ornament-air {
        width: 200px;
        top: -40px;
        left: -80px;
    }
    .ornament-bunga-pojok {
        width: 200px;
    }

    .opening-body .person-image {
        width: 200px;
    }

    .opening-body .ornament-kiri {
        bottom: 40px;
        left: 50%;
        transform: translate(calc(-50% - 100px), 0) rotate(-8deg);
        width: 200px;
    }
    .opening-body .ornament-kanan {
        bottom: 20px;
        right: 50%;
        transform: translate(calc(50% + 80px), -50%);
        width: 140px;
    }

    .ornament-pojok-kiri {
        position: absolute;
        top: -90px;
        left: -20px;
        transform: rotate(50deg);
        z-index: -1;
        pointer-events: none;
        width: 160px;
    }

    .ornament-pojok-kanan {
        position: absolute;
        bottom: -90px;
        right: -20px;
        transform: rotate(200deg);
        z-index: -1;
        pointer-events: none;
        width: 160px;
    }

    #rsvp .ornament-pojok-kiri-air {
        width: 160px;
        top: -50px;
        left: -100px;
    }
}

@media (max-width: 375px) {
    .ornament-air,
    .ornament-bunga-pojok {
        width: 180px;
    }
}
